body{
    text-align: center;
   
}

#msg {
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}
footer{
    color: white;
    background-color: #12176d;
}
footer {
    margin-bottom: 0px;

    margin-top: 10px;
    padding: 25px 50px;
    font-family: var(--paragraph-font);

    display: flex;
    justify-content: space-around;
    align-items: center;
}