/* Import Font to the pages */
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Croissant+One&display=swap');


:root {
/* Fonts */
--heading-font: "Croissant One", cursive;
--paragraph-font: Alice, Helvetica, sans-serif;

/* Colors */
--primary-color: #D39999   ;
--secondary-color: #FDFFDC ;
--accent1-color: #E6DDCF;
--accent2-color: white;
}

/* Body */
body{
    display: block;
    background-color:#fcfbfb;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

/*div contect*/
#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* Header */
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: rgba(253,255,220,0.6);
    font-family: var(--heading-font)
}

.logo {
    width: 85px;
    margin-left: 15px;
    margin-top: 10px;
    justify-self: center;
    align-self:  center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    padding: 35px;
    text-align: center;
    color: var(--primary-color);
    text-decoration: none;
}

nav a:hover {
    background-color: var(--primary-color);
    color: white;
} 

/* Div slider */
div#slider { 
    overflow: hidden; 
}/* images will not go outside the screen margin */

#slider {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -120px;
}



#slider figure {
    position:relative;
	width:2500%;
    animation: 12s slider infinite;
    opacity: 80%;
}

#slider figure img {
    width: 20%;
}
#home-imgs{
    margin: 0;
}
#shop-box {
    z-index: -2;
    
}

/* shop msg */
#shop-msg {
    grid-column: 2/3;
    background-color: rgba(255,255,255, 0.7); /* Black w/opacity/see-*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 20px;
    border-radius: 20px;
    
}

#shop-msg h1, #shop-msg h4 {
    text-align: center;
    color: var(--primary-color);
  
}

.shop-title {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: var(--heading-font);
}

/* Main */
main {
    background: rgb(255, 255, 255);
    align-items: center;
    margin: auto;
    text-align: justify;
    padding: 50px;
    font-family: var(--heading-font)
}
h1, h2{
    color: var(--primary-color);
    text-align: center;
}
p{
    font-family: var(--paragraph-font);
}
#all-text p {
    text-align: justify;
    margin-bottom: 80px;
    margin-top: 20px;
}

#all-text h1{
    border-bottom: 3px solid var(--accent1-color)!important;
}
/* Footer */
footer {
    padding: 25px 50px;
    font-family: var(--paragraph-font);
    background-color:var(--accent1-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3 {
    color: rgb(0, 0, 0);
}
footer a {
    color: rgb(0, 0, 0);
    text-decoration:none;
}
footer a:hover {
    color:azure ;
    text-decoration:underline;
}

.footer h3 a:hover {
    text-decoration: underline;
}

a {
    font-family: var(--paragraph-font);
}

/* Images slider */
@keyframes slider {
	25% { left: 0; }
	50% { left: -500%; }
    50% { left: -500%; }
    75% { left: -1000%; }
    75% { left: -1000%; }
    100% { left: -1500%; }
}
