/* Import Font to the pages */
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Croissant+One&display=swap');


:root {
/* Fonts */
--heading-font: "Croissant One", cursive;
--paragraph-font: Alice, Helvetica, sans-serif;

/* Colors */
--primary-color: #D39999   ;
--secondary-color: #FDFFDC ;
--accent1-color: #E6DDCF;
--accent2-color: white;
}

/* Body */
body{
    display: block;
    background-color:#fcfbfb;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

/*div contect*/
#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* Header */
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: rgba(253,255,220,0.6);
    font-family: var(--heading-font)
}

.logo {
    width: 85px;
    margin-left: 15px;
    margin-top: 10px;
    justify-self: center;
    align-self:  center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    padding: 35px;
    text-align: center;
    color: var(--primary-color);
    text-decoration: none;
}

nav a:hover {
    background-color: var(--primary-color);
    color: white;
} 

/* Div slider */
div #slider { 
    overflow: hidden; 
}/* images will not go outside the screen margin */

#slider {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -180px;
}

#slider figure {
    position:relative;
	width:2500%;
    animation: 12s slider infinite;
    opacity: 80%;
}

#slider figure img {
    width: 20%;
    height: auto;
}
#home-imgs{
    margin: 0;
}
#shop-box {
    z-index: -2;
    
}

/* shop msg */
#shop-msg {
    grid-column: 2/3;
    background-color: rgba(255,255,255, 0.7); /* Black w/opacity/see-*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 20px;
    border-radius: 20px;
    
}

#shop-msg h1, #shop-msg h4 {
    text-align: center;
    color: var(--primary-color);
  
}

.shop-title {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: var(--heading-font);
}

/* Main */
main {
    background: rgb(255, 255, 255);
    align-items: center;
    margin: auto;
    text-align: justify;
    padding: 50px;
    font-family: var(--heading-font)
}
h1, h2{
    color: var(--primary-color);
    text-align: center;
 
}
p{
    font-family: var(--paragraph-font);
}
#all-text p {
    text-align: justify;
    margin-bottom: 80px;
    margin-top: 20px;
}


/* all products */
#all-text h1{
    border-bottom: 3px solid var(--accent1-color)!important;
    text-align: center;
}
.all-products {
    display: grid;
    grid-template-columns:repeat(11, 1fr);
    font-family: var(--paragraph-font);
    text-align: center;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    position: relative;
}
#all-products{
    padding-bottom: 110px;
}
.all-products p{
    text-align: center;
}
main section img {
    box-sizing: border-box;
}

.all-img {
    box-sizing: border-box;
    border: 6px solid var(--accent1-color);
    transition: transform .5s;
    box-shadow: 2px 2px 5px #6f7364;
}
.all-img:hover {
    opacity: .8;
    transform: scale(1.05);
}
.all1{
    grid-column: 2/3;
}
.all2{
    grid-column: 4/5;
}
.all3{
    grid-column: 6/7;
}
.all4{
    grid-column: 8/9;
}
.all5{
    grid-column: 10/11;
}

.all{
    padding-right: 30px;
    position: relative;
    width: 100%;
}
   
a.previous.round, a.next.round{
    margin: 0;
    text-decoration: none;
    display: inline-block;
    padding: 7px 16px;
}
      
a:hover {
    background-color: var(--secondary-color);
    color: black;
    }

.previous {
    background-color: var(--accent1-color);
    color: black;
    }
      
.next {
    background-color: var(--accent1-color);
    color: black;
}
      
.round {
    border-radius: 50%;
    margin: auto;
    margin-bottom: 220px;
}   

.sell{
    box-sizing: border-box;
    border: 6px solid var(--accent1-color);
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    
  
}
.sells{
    position: relative;
    width: 100%;
    padding-right: 30px;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 15%);
    text-align: center;
    }
    
.all:hover .sell {
    opacity: 0.3;
}   
    
.sell:hover .middle {
    opacity: 1;
}
    
.details {
    background-color:rgba(255, 255, 255,0.8);
    color: rgb(69, 67, 67);
    font-size: 15px;
    padding: 16px 32px;
}
.room h1{
    border-bottom: 3px solid var(--accent1-color)!important;
    text-align: left;
    border-bottom: 3px solid var(--accent1-color)!important;

}

.room{
    padding-bottom:160px ;
}
/* Footer */
footer {
    padding: 25px 50px;
    font-family: var(--paragraph-font);
    background-color:var(--accent1-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3 {
    color: rgb(0, 0, 0);
}
footer a {
    color: rgb(0, 0, 0);
    text-decoration:none;
}
footer a:hover {
    color:azure ;
    text-decoration:underline;
}

.footer h3 a:hover {
    text-decoration: underline;
}

a {
    font-family: var(--paragraph-font);
}

/* Images slider */
@keyframes slider {
	25% { left: 0; }
	50% { left: -500%; }
    50% { left: -500%; }
    75% { left: -1000%; }
    75% { left: -1000%; }
    100% { left: -1500%; }
}

/* Adjust Element */
@media screen and (max-width: 900px) {
    .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #slider {
        margin-top: 0;
        height: auto;
    }
    .logo{
        height: 130px;
        width: auto;
    }
    .shop-title{
        font-size: 25px;
    }
    #shop-msg h4 {
        display: none;
    }

    .text{
        margin: 50px auto;
    }
    .room h1, h2{
        padding-top: 0;
    }

    img{
        width: auto;
        height: 200px;
    }

    .social img{
        width: 50px;
        height: auto;
    }

    footer {
        margin-top: 25px;
    }
}